h2 Добавление товара
br

- @product.errors.full_messages.each do |message|
  = content_tag :div, message, class: "alert alert-danger"

= form_for @product, url: market_products_path, method: :post, html: { id: 'add_product_to_market' } do |f|
  .form_group
    = f.label :name, 'Название'
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form_group
    = f.label :category_id, 'Категория'
    = f.select :category_id, Category.array_for_select, {}, class: 'form-control'
  .form_group
    = f.label :description, 'Описание'
    = f.text_area :description, class: 'form-control'
  .form_group
    = f.label :price, 'Цена (руб.)'
    = f.number_field :price, class: 'form-control'
  = f.fields_for :product_images do |image_field|
    .form_group
      = image_field.label :file, 'Изображение'
      = image_field.file_field :file
  br
  .actions
    = f.submit "Добавить", class: 'btn btn-primary'
