%section#market_product.mainContent.clearfix{ itemscope: true, itemtype: "http://schema.org/Product"}
  .container
    .row.singleProduct
      .col-xs-12.col-md-9
        .media
          .media-left.productSlider
            #carousel.carousel.slide{ :'data-ride' => 'carousel' }
              .carousel-inner
                - @product.product_images.each_with_index do |image, index|
                  %div{ :'data-thumb' => index, class: "item#{ index.zero? ? ' active' : '' }" }
                    = image_tag image.file.small, (index.zero? ? { itemprop: "image", alt: @product.full_name } : {})
            .clearfix
              #thumbcarousel.carousel.slide{ :'data-interval' => false }
                .carousel-inner
                  - @product.product_images.each_with_index do |image, index|
                    .thumb{ :'data-target' => '#carousel', :'data-slide-to' => index }
                      = image_tag image.file.thumb
                %a{ class: 'left carousel-control', href: '#thumbcarousel', role: 'button', :'data-slide' => 'prev' }
                  %span.glyphicon.glyphicon-chevron-left
                %a{ class: 'right carousel-control', href: '#thumbcarousel', role: 'button', :'data-slide' => 'next' }
                  %span.glyphicon.glyphicon-chevron-right
          .media-body
            %h2{ itemprop: 'name' }= @product.full_name
            .tabArea
              .tab-content
                #details.tab-pane.fade.in.active
                  %ul.list-unstyled
                    - @product.field_values.each do |field_value|
                      %li
                        %b
                          = field_value.field.name
                          \:
                        = field_value.value
            %p.description{ itemprop: 'description' }
              = raw(@product.description)
            - if ['published', 'rejected'].include?(@product.aasm_state)
              %h3{ itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer' }
                - if @product.real_price(current_user) != @product.price
                  %span{ itemprop: 'price', style: 'font-size: 16px; text-decoration: line-through;' }= number_with_delimiter(@product.price.to_i)
                  %br
                  %span{ itemprop: 'price' }= number_with_delimiter(@product.real_price(current_user).to_i)
                - else
                  %span{ itemprop: 'price' }= number_with_delimiter(@product.real_price(current_user).to_i)
                %small{ itemprop: 'priceCurrency' } р.
          .clearfix
          .clearfix
            .vendor_info
              %h3 Продавец
              - unless @product.user.name.blank?
                %p= @product.user.name
              - unless @product.user.phone.blank?
                %p= @product.user.phone
              - unless @product.user.address.blank?
                %p= @product.user.address
