.col-sm-4.col-xs-12
  .productBox
    .productImage.clearfix
      = link_to market_product_path(product) do
        = image_tag product.product_images.first.file.small, alt: product.full_name
    .productCaption.clearfix
      = link_to market_product_path(product) do
        h5= truncate product.full_name, length: 90
      h3
        = number_with_delimiter(product.price.to_i)
        small р.
