#add_market_product
  - if user_signed_in?
    = link_to 'Добавить свой товар', new_market_product_path, class: 'btn btn-primary btn-large add_btn'
.clearfix
- @products.each do |product|
  = render partial: 'product', locals: { product: product }
= paginate @products
