section#cart_section.mainContent.clearfix.cartListWrapper
  .container
    .row
      .col-xs-12
        .cartListInner
          form action="#"
            .table-responsive
              table.table
                thead
                  tr
                    th
                    th Название
                    th Количество
                    th Цена за 1 ед.
                tbody
                  - current_order.order_items.each do |order_item|
                    tr
                      td.col-xs-2
                        = link_to order_item_path(order_item.id), class: 'close', method: :DELETE
                          span aria-hidden=true
                            | &times;
                        span.cartImage
                          = image_tag order_item.product.main_image.file.thumb, width: '63px'
                      td.col-xs-4= order_item.name
                      td.col-xs-2= order_item.quantity
                      td.col-xs-2
                        = order_item.unit_price.to_i
                        small
                          |  р.
            .row.totalAmountArea
              .col-sm-4.col-sm-offset-8.col-xs-12
                ul.list-unstyled
                  li
                    | Итого
                    span.grandTotal
                      = current_order.products_price.to_i
                      small
                        |  р.
            .checkBtnArea
              - if current_order.persisted?
                = link_to edit_order_path(current_order.public_id), class: 'btn btn-primary btn-block' do
                  | Оформить
                  i.fa.fa-arrow-circle-right aria-hidden=true
