section.mainContent.clearfix.cartListWrapper
  .container
    .row
      h2
        | Профиль пользователя

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!

        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: 'form-control'

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          div
            Currently waiting confirmation for: 
            = resource.unconfirmed_email

        .form-group
          = f.label :password, 'Новый пароль'
          i
           |  (оставьте пустым если не хотите менять)
          br
          = f.password_field :password, autocomplete: "off", class: 'form-control'
          - if @minimum_password_length
            br
            em
              = @minimum_password_length 
              |  символов минимум

        .form-group
          = f.label :password_confirmation, 'Подтверждение пароля'
          br
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

        .form-group
          = f.label :name, 'Имя'
          br
          = f.text_field :name, class: 'form-control'

        .form-group
          = f.label :phone, 'Телефон'
          br
          = f.text_field :phone, class: 'form-control'

        .form-group
          = f.label :address, 'Адрес'
          br
          = f.text_area :address, class: 'form-control'

        .form-group
          = f.label :current_password, 'Текущий пароль'
          i
            |  (требуется текущий пароль для подтверждения изменений)
          br
          = f.password_field :current_password, autocomplete: "off", class: 'form-control'

        .actions
          = f.submit "Сохранить", class: 'btn btn-primary'

      p
        = button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn'

      = link_to "Back", :back
