%section.mainContent.clearfix.logIn
  .container
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
        .panel.panel-default
          .panel-heading
            %h3 Регистрация на сайте
          .panel-body
            = devise_error_messages!
            = form_for :user, url: user_registration_path do |f|
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, class: 'form-control'
              .form-group
                = f.label :password, 'Пароль'
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              .form-group
                = f.label :password_confirmation, 'Подтверждение пароля'
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
              %button.btn.btn-primary.btn-block{ type: 'submit' } Зарегистрироваться
              = link_to "Забыли пароль?", new_user_password_path, class: 'btn btn-link btn-block'
