%section.mainContent.clearfix.logIn
  .container
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
        .panel.panel-default
          .panel-heading
            %h3 Забыли пароль ?
          .panel-body
            = devise_error_messages!
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, class: 'form-control'
              %button.btn.btn-primary.btn-block{ type: 'submit' } Отправить инструкцию по восстановлению пароля
