section.mainContent.clearfix.stepsWrapper
  .container
    .row
      .col-xs-12
        .innerWrapper.clearfix.stepsPage
          .row.progress-wizard style='border-bottom:0;'
            .col-xs-6.progress-wizard-step.complete.fullBar
              .text-center.progress-wizard-stepnum Заполнение данных
              .progress
                .progress-bar
              span.progress-wizard-dot
            .col-xs-6.progress-wizard-step.active
              .text-center.progress-wizard-stepnum Подтверждение заказа и оплата
              .progress
                .progress-bar
              span.progress-wizard-dot

          .page-header
           h4 Проверка данных и оплата
          section#cart_section.clearfix.cartListWrapper
            .row
              .col-xs-12
                .cartListInner
                  .table-responsive
                    table.table
                      thead
                        tr
                          th
                          th Название
                          th Количество
                          th Цена за 1 ед.
                      tbody
                        - @order.order_items.each do |order_item|
                          tr
                            td.col-xs-2
                              span.cartImage
                                = image_tag order_item.product.main_image.file.thumb, width: '63px'
                            td.col-xs-4= order_item.name
                            td.col-xs-2= order_item.quantity
                            td.col-xs-2
                              = order_item.unit_price.to_i
                              small
                                |  р.
                        tr
                          td colspan=4
                            h4 Персональная информация
                            p
                              | Имя: 
                              = @order.first_name
                            p
                              | Фамилия: 
                              = @order.last_name
                            p
                              | Телефон: 
                              = @order.phone_number
                            p
                              | Город: 
                              = @order.destination_name
                            h4 Доставка
                            p
                              | Стоимость: 
                              = @order.shipping_price
                    .row.totalAmountArea
                      .col-sm-4.col-sm-offset-8.col-xs-12
                        ul.list-unstyled
                          li
                            | Итого
                            span.grandTotal
                              = current_order.total_price.to_i
                              small
                                |  р.
                  .checkBtnArea style='border: 0px;'
                    - if current_order.persisted?
                      = form_tag 'https://money.yandex.ru/eshop.xml', method: :post do
                        = hidden_field_tag 'shopId', @shop_id
                        = hidden_field_tag 'scid', @scid
                        = hidden_field_tag 'customerNumber', @order.customer_full_name
                        = hidden_field_tag 'sum', @order.total_price
                        = hidden_field_tag 'orderNumber', @order.id
                        = submit_tag raw('К оплате &nbsp; >>'), class: 'btn btn-primary btn-block'
