section.mainContent.clearfix.cartListWrapper
  .container
    .row
      h2 Мои товары
      #add_market_product
        - if user_signed_in?
          = link_to 'Добавить свой товар', new_market_product_path, class: 'btn btn-primary btn-large add_btn own_products'
        .clearfix
        table.table.own_product_tbl
          thead
            tr
              th.products товары
              th.actions действия
          tbody
            - @products.each do |product|
              tr
                td
                  span.name
                    = product.name
                  .product_img_wrapper
                    = image_tag product.product_images.first.file.thumb, alt: product.full_name
                td.actions
                  | Редактировать
                  br
                  | Снять с публикации
                  br
                  | Удалить
