section.mainContent.clearfix.stepsWrapper
  .container
    .row
      .col-xs-12
        .innerWrapper.clearfix.stepsPage
          .row.progress-wizard style='border-bottom:0;'
            .col-xs-6.progress-wizard-step.complete
              .text-center.progress-wizard-stepnum Заполнение данных
              .progress
                .progress-bar
              span.progress-wizard-dot
            .col-xs-6.progress-wizard-step.disabled
              .text-center.progress-wizard-stepnum Подтверждение заказа и оплата
              .progress
                .progress-bar
              span.progress-wizard-dot

          = form_for @order, url: order_path(@order.public_id) do |f|
            .col-xs-12
              .page-header
                h4 Платежная информация

            .form-group.col-sm-6.col-xs-12
              = f.label :first_name, 'Имя'
              = f.text_field :first_name, class: 'form-control', autofocus: true

            .form-group.col-sm-6.col-xs-12
              = f.label :last_name, 'Фамилия'
              = f.text_field :last_name, class: 'form-control'

            .form-group.col-sm-6.col-xs-12
              = f.label :email, 'Email'
              = f.email_field :email, class: 'form-control'

            .form-group.col-sm-6.col-xs-12
              = f.label :phone_number, 'Телефон'
              = f.text_field :phone_number, class: 'form-control'

            .form-group.col-sm-6.col-xs-12
              = f.label :destination_name, 'Город'
              = f.text_field :destination_name, class: 'form-control'
              = f.hidden_field :destination_id

            .form-group.col-sm-6.col-xs-12
              = f.label :shipping_address do
                | Адрес
                span style='color: #777777;'
                  |  (улица, дом, квартира и.т.п.)
              = f.text_area :shipping_address, class: 'form-control'

            .col-xs-12
              .well.well-lg.clearfix
                ul.pager
                  li.next
                    = f.submit 'Далее', class: 'btn btn-primary'
