section.mainContent.clearfix.cartListWrapper
  .container
    .row
      .col-xs-12 itemscope=true itemtype="http://schema.org/Organization"
        h4 Контакты
        div itemprop='address' itemscope=true itemtype='http://schema.org/PostalAddress'
          p
            strong город 
            span itemprop='addressLocality' Воронеж
        p
          strong телефон 
          span itemprop='telephone' +7 901 092-85-68
        p
          strong email 
          span itemprop='email' support@fisher-secrets.ru
        p= render 'yandex_map'
        br
        h4 Реквизиты
        p ИП Никулин Александр Юрьевич
        p ИНН 366515664200
        p ОГРНИП 316366800134516
        p Расчетный счет 40802810308500000253
