- @brands.each do |brand|
  .col-sm-4.col-xs-12
    .productBox.brandBox
      .productImage.clearfix
        = link_to category_path(@category, brand: brand.slug) do
          = image_tag brand.image.small, alt: brand.name
      .productCaption.clearfix
        = link_to category_path(@category, brand: brand.slug) do
          h5= brand.name
.clearfix
- if @category.description.present?
  #category_description= raw(@category.description)
