%section.mainContent.clearfix.logIn
  .container
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
        .panel.panel-default
          .panel-heading
            %h3 Вход на сайт
          .panel-body
            = devise_error_messages!
            = form_for :user, url: user_session_path, role: 'form' do |f|
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, class: 'form-control'
              .form-group
                = f.label :password, 'Пароль'
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              - if devise_mapping.rememberable?
                .checkbox
                  %label
                    = f.check_box :remember_me
                    Запомнить меня
              %button.btn.btn-primary.btn-block{ type: 'submit' } Войти
              = link_to "Забыли пароль?", new_user_password_path, class: 'btn btn-link btn-block'
