h1 Совершен заказ
h2 Заказчик
ul
  li= @order.first_name
  li= @order.last_name
  li= @order.phone_number
  li= @order.email
  li= @order.destination_name
  li= @order.shipping_address
h2 Заказ
ul
- @order.order_items.each do |order_item|
  li= link_to order_item.product.full_name, product_url(order_item.product.id), target: '_blank'
