$("#short_cart").html("<%= j render('/layouts/cart') %>")
<%= add_gritter('&nbsp;', title: 'Добавлено в корзину', image: :notice) if @result[:status] == 'ok' %>
<%= "window.scrollTo(0, 0)" if @result[:status] == 'ok' %>
<%= add_gritter('&nbsp;', title: 'Ошибка добавления', image: :warning) if @result[:error] %>
