/*=== 1.COMMON ===*/
.container{
    width: 100%;
    @include mobile {
      width: 450px;
    }
    @include tablet {
      width: 750px;
    }
    @include desktops {
      width: 970px;
    }
    @include large-desktops {
      width: 1170px;
    }
}
.main-wrapper{
    background-color:#ffffff;
}
body.bodyColor.default{
    background-color:#f5f5f5;
}
body.bodyColor.pattern-01{
    background-image: url("../img/patterns/001.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-02{
    background-image: url("../img/patterns/002.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-03{
    background-image: url("../img/patterns/003.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-04{
    background-image: url("../img/patterns/004.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-06{
    background-image: url("../img/patterns/006.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-07{
    background-image: url("../img/patterns/007.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-05{
    background-image: url("../img/patterns/005.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.wrapper {
    margin:0 auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    @include mobile {
        max-width: 450px;
    }
    @include tablet {
        max-width: 750px;
    }
    @include desktops {
        max-width: 970px;
    }
    @include large-desktops {
        max-width: 1170px;
    }
}
body.bodyColor .header {
    @include mobile {
        max-width: 450px;
    }
    @include tablet {
        max-width: 750px;
    }
    @include desktops {
        max-width: 970px;
    }
    @include large-desktops {
        max-width: 1170px;
    }
}
body.bodyColor .bb-fixed-header {
    right:auto;
    left:auto;
    @include mobile {
        max-width: 450px;
        width: 100%;
    }
    @include tablet {
        max-width: 750px;
    }
    @include desktops {
        max-width: 970px;
    }
    @include large-desktops {
        max-width: 1170px;
    }
}
body.static .bb-fixed-header {
    display:none;
}
.btn{
  display: inline-block;
  @include border-radius(4px);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 9px 0;
  outline: 0 !important;
  @include transition(all 0.3s ease);
  @include mobile {
    font-size: 15px;
    padding: 13px 0;
  }
  @include tablet {
    font-size: 12px;
    padding: 8px 0;
  }
  @include desktops {
    font-size: 14px;
    padding: 12px 0;
  }
  @include large-desktops {
    font-size: 15px;
    padding: 13px 0;
  }
}
.btn-border{
    @include border-radius(0);
    border:2px solid #b1b1b1;
    padding: 7px 15px;
    color: $secondary-color;
    font-weight: 700;
    @include large-desktops {
        font-size: 15px;
        padding: 9px 15px;
    }
    i{
        padding-left:20px;
        font-weight: 700;
        font-size: 17px;
    }
}
.main-wrapper{
    position: relative;
}
a{
    @include transition(all 0.3s ease);
    color: rgba($white-color, 0.25);
    text-decoration: none !important;
}
a:hover, a:focus{
    color: rgba($white-color, 0.5);
    outline: 0;
}
.media-left, .media>.pull-left {
    float: left ;
}
