/*=== 2.1 HEADER V1 ===*/
.header{
	background-color: $white-color;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 999;
}
.bb-fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}
/*=== 2.1.1 TOPBAR ===*/
.topBar{
	width: 100%;
	display: block;
	min-height: 35px;
	height: auto;
	background-color: $secondary-color;
	ul{
		li{
			a{
				padding:0 3px;
				display: block;
				line-height: 35px;
				font-size: 14px;
				@include transition(all 0.3s ease-in-out);
				color: $white-color;
				&:hover, &:focus{
					@include opacity(.8);
				}
			}
		}
	}
	ul.pull-right{
		li{
			padding: 0;
			float: left; 
			a{
				font-size: 12px;
				display: inline-block;
			}
		}
		>li{
			margin: 0 0 0 13px;
		}
		>li:nth-child(2)::before{
			content: "|";
			font-size: 16px;
			color: rgba($white-color, 0.2);
		}
	}
}
.display-block{
	display:block;
}
.display-none{
	display:none;
}
.top-right .account-login{
	span{
		small{
			color: rgba($white-color, 0.5);
			padding: 0 10px;
		}
		a{
			@include transition(all 0.3s ease-in-out);
			&:hover{
				color: rgba($white-color, 0.5);
			}
			&:focus{
				color: rgba($white-color, 0.25);
			}
		}
	}
}
.top-right .searchBox{
	position:relative;
	a{
		color: $white-color;
		@include transition(all 0.3s ease-in-out);
		padding: 0 10px;
		&:hover{
			opacity: .5;
		}
		i{
			width: 15px;
		}
	}
	.dropdown-menu{
		padding: 10px 15px;
		border-radius: 0;
		@include mobile-xs {
			width: 280px;
			margin: 0 -65px 0 0;
		}
		@include mobile {
			width: 350px;
			margin: 0;
		}
		li{
			line-height: 0;
			width: 100%;
		}
	}
}
.searchBox .input-group{
	width: 100%;
	position: relative;
	.form-control{
		box-shadow: none;
		border-radius: 0;
		&:focus{
			border-color: $primary-color;
		}
	}
	.input-group-addon{
		border-radius: 0;
		background-color: $primary-color;
		color: $white-color;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		border-color: $primary-color;
	    width: 74px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    z-index: 9;
	    height: 34px;
	}
}
.top-right .cart-dropdown,
.cart-dropdown{
	a{
		background-color: $primary-color;
		line-height: 35px;
		min-height: 36px;
		font-size: 13px; 
		color: $white-color;
		@include transition(all 0.3s ease-in-out);
		@include mobile-xs {
			padding: 0 7px;
		}
		@include mobile {
			padding: 0 10px;
		}
		@include tablet {
			padding: 0 19px;
		}
		i{
			font-size: 18px;
			margin-right: 10px;
		}
		&:hover{
			background-color: $primary-color;
			@include opacity(1);
		}
		&:focus{
			@include opacity(1);
		}
	}
	ul.dropdown-menu{
		background-color: $primary-color;
		border-radius: 0;
		margin: 0;
		box-shadow: none;
		border: none;
		z-index: 9999;
		@include mobile-xs {
			width: 280px;
		}
		@include mobile {
			width: 300px;
		}
		li:first-child{
			color: $white-color;
			padding: 10px 0 8px 19px;
		}
		li{
			a{
				line-height: 26px;
				.media{
					@include add-border(1px, rgba(0, 0, 0, 0.1), bottom);
					padding: 12px 0;
					.media-body{
						h5{
							color: $white-color;
							line-height: 20px;
							letter-spacing: 1px;
							span{
								font-size: 18px; 
							}
						}
					}
				}
				&:hover{
					opacity: .8;
					background-color: transparent;
				}
			}
		}
		li{
			.btn-group{
				padding: 14px 19px;
				.btn{
					border-radius: 0;
					border: none;
					height: 36px;
					padding: 0;
					line-height: 36px;
					font-size: 13px;
					font-weight: 700;
					letter-spacing: 1px;
					background-color: #f8f8f8;
					@include transition(all 0.3s ease-in-out);
				}
				button:first-child{
					&:hover{
						opacity: .8;
					}
					@include mobile-xs {
						width: 135px;
					}
					@include mobile {
						width: 149px;
					}
				}
				button:last-child{
					margin-left: 4px;
					@include mobile-xs {
						width: 100px;
					}
					@include mobile {
						width: 109px;
					}
					&:hover{
						opacity: .8;
					}
				}
			}
		}
	}
}

/*=== 2.1.2 NAVBAR ===*/
.navbar-brand{
	width:auto;
	height:auto;
	@include transition(height 0.3s, width 0.3s);
	img{
		max-width: 100%;
	}
}
.navbar-default{
	@include box-shadow (0, 2px, 4px, rgba(0, 0, 0, 0.1));
	background-color: $white-color;
	margin-bottom: 0;
	border: none;
	.container{
		position: relative;
	}
	.navbar-header{
		.navbar-toggle{
			background-color: $primary-color;
			border-radius: 0;
			border: none;
			padding: 9px 8px;
			margin-right: 20px;
			margin-top: 11px;
			.icon-bar{
				background-color: $white-color;
				width: 24px;
				height: 4px;
			}
		}
		.navbar-brand{
			display: inline-block;
			@include mobile {
				padding:0 15px;
				margin-top: 10px;
			}
			@include tablet {
				padding: 0 15px;
				margin-top: 23px;
			}
		}
	}
	.navbar-collapse{
		background:#ffffff;
		@include mobile-xs{
			max-height: 250px;
		}
		@include mobile{
			max-height: 250px;
		}
		@include tablet{
			height: auto;
			float: right;
			padding:18px 0 0;
		}
		li{
			a{
				font-size: 14px;
				color: $secondary-color;
				text-transform: uppercase;
				font-weight: 700;
				@include transition(all 0.3s ease-in-out);
				@include mobile {
					padding: 6px 15px;
				}
				@include tablet {
					padding:20px  15px 33px;
				}
				&:hover, &.focus, &:focus{
					color: $primary-color;
				}
			}
			&.dropdown{
				.dropdown-menu{
					box-shadow: none;
					margin-top: 0;
					li{
						a{
							font-weight: 300;
							padding: 10px 25px;
							text-transform: capitalize;
							width: 100%;
							color: $secondary-color;
							float: left;
							&:hover{
								color: $primary-color;
							}
						}
					}
					@include mobile-xs{
						position: relative;
						width: 100%;
						float: left;
						border: 0;
						display: block;
					}
					@include mobile{
						position: relative;
						width: 100%;
						float: left;
						border: 0;
						display: block;
					}
					@include tablet{
						position: absolute;
						float: left;
						@include add-border(1px, $border-lighter, all);
						display: none;
					}
				}
			}
		}
		li.active{
			a{
				background-color: transparent;
				color: $primary-color;
				&:focus, &:hover{
					background-color: transparent;
					color: $primary-color;
				}
			}
			&.dropdown{
				.dropdown-menu{
					li{
						a{
							color: $secondary-color;
							&:hover{
								color: $primary-color;
							}
						}
					}
				}
			}
		}
		li.dropdown{
			&.open{
				a{
					&:hover, &.focus, &:focus{
						background-color: transparent;
						color: $primary-color;
					}
				}
				.dropdown-menu{
					box-shadow: none;
					border-radius: 0;
					margin-top: -2px;
					min-width: 200px;
					display: block;
					li{
						a{
							padding: 10px 25px;
							font-weight: 300;
							text-transform: capitalize;
							width: 100%;
						}
					}
					li{
						a{
							float: left;
							@include mobile-xs{
								padding: 10px 12px 10px 0;
							}
							@include mobile{
								padding: 10px 12px 10px 0;
							}
							@include tablet{
								padding: 6px 12px 6px 30px;
								font-size: 11px;
							}
							@include desktops{
								padding: 10px 12px 10px 30px;
								font-size: 14px;
							}
						}
					}
				}
			}
			&.megaDropMenu{
				position: static;
				.dropdown-menu{
					right: 15px;
					margin-top: -5px;
					@include mobile-xs{
						left: 0;
						padding: 0;
					}
					@include mobile{
						left: 0;
						padding: 0;
					}
					@include tablet{
						left: 0;
						right: 0;
						padding: 10px 10px 0;
						top: auto;
						margin-top: -2px;
					}
					.list-unstyled{
						width: 100%;
						float: left;
						@include mobile-xs{
							padding-bottom: 10px;
						}
						@include mobile{
							padding-bottom: 10px;
						}
						@include tablet{
							padding-bottom: 40px;
						}
						li{
							&.listHeading, &:first-child{
								font-weight: 700;
								text-transform: uppercase;
								font-size: 12px;
								color: #c9c9c9;
								float: left;
								@include mobile-xs{
									padding: 10px 12px 10px 0;
								}
								@include mobile{
									padding: 10px 12px 10px 0;
								}
								@include tablet{
									padding: 10px 12px 10px 25px;
								}
							}
							a{
								padding: 10px 25px 10px 10px;
								@include mobile{
									padding: 10px 25px 10px 10px;
								}
								@include tablet{
									padding: 10px 25px;
								}
							}
						}
					}
					a.menu-photo{
						img{
							@include mobile-xs{
								width: 100%;
							}
							@include mobile{
								width: 100%;
							}
							@include tablet{
								width: 100%;
							}
							@include desktops{
								width: auto;
							}
						}
						padding: 0 0 26px 0 ;
						@include mobile{
							padding: 0 0 26px 0;
						}
						@include tablet{
							padding: 26px 0 0 0;
						}
					}
				}
			}
		}
	}
}
.navbar-default .navbar-collapse li.dropdown .dropdown-menu li.active a{
	color: $primary-color;
}
.navbar-default{
	.navbar-nav{
		>.open{
			>a{
				background-color: transparent;
				color: $primary-color;
				&:focus, &:hover{
					background-color: transparent;
					color: $primary-color;
				}
			}
		}
	}
}
body.bodyColor{
	background:#DADADA;
}
body.bodyColor.container {
    padding: 0;
}
@include desktops {
	.container {
	    width: 970px!important;
	}
	body.bodyColor .header {
	    max-width: 970px;
	}
	body.bodyColor .navbar-fixed-top {
	    right: auto;
	    left: auto;
	}
}
@include large-desktops {
	.container {
	    width: 1170px!important;
	}
	body.bodyColor .header {
	    max-width: 1170px;
	}
}
