/*
  *= require gritter
*/

@import 'fonts';
@import 'jquery-ui';
@import 'bootstrap';
@import 'font-awesome';
@import 'select_option1';
@import 'rs-plugin';
@import 'owl.carousel';
@import 'default';
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/media-query';
@import 'reset';
@import 'common';
@import 'comming-soon';
@import '404';
@import 'header-v1';
@import 'main-slider';
@import 'home';
@import 'footer-v1';
@import 'form';
@import 'modal';
@import 'page-header';
@import 'sidebars';
@import 'products';
@import 'generic-content';
@import 'blog';
@import 'about-us';
@import 'steps';
@import 'user-profile';
@import 'short-code';
@import 'non-responsive';

body,p{
  font-size: 14px;
}

.content-wrapper .body_wrapper {
  min-width: 1200px;
}

.mainContent{
  padding-top: 30px;
}
.pagination{
  @include mobile{
    margin: 0 0 50px 0;
  }
  @include tablet{
    margin: 0;
  }
  span.page.gap{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    @include mobile-xs{
      width: 35px;
      height: 35px;
      line-height: 30px;
    }
    @include mobile{
      width: 45px;
      height: 45px;
      line-height: 40px;
    }
  }
  li{
    a{
      float: none;
      border-radius: 0;
      padding: 0;
      @include add-border(3px, $light-color, all);
      display: inline-block;
      font-size: 18px;
      color: $secondary-color;
      font-weight: 700;
      @include transition(all 0.3s ease-in-out);
      margin: 0 3px;
      text-align: center !important;
      @include mobile-xs{
        width: 35px;
        height: 35px;
        line-height: 30px;
      }
      @include mobile{
        width: 45px;
        height: 45px;
        line-height: 40px;
      }
      span{
        font-size: 24px;
        @include mobile-xs{
          line-height: 20px;
        }
        @include mobile{
          line-height: 30px;
        }
      }
      &:hover{
        color: $white-color;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  li.active{
    a{
      color: $white-color;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
}

section.pageHeader{
  h2{
    a{
      color: #797979;
    }
  }
}

.productBox{
  .productCaption{
    h3{
      display: inline-block;
    }
    a.add_to_cart{
      display: block;
      border-radius: 3px;
      float: right;
      margin-right: 5px;
      width: 50px;
      height: 33px;
      background-color: #f0f0f0;
      color: #353535;
      font-size: 25px;
      text-align: center;
      padding: 4px;
    }
    a.add_to_cart:hover{
      color: #47bac1;
    }
  }
}

.singleProduct{
  .add_to_cart a{
    font-size: 20px;
    font-weight: 600;
  }
  .how_to_order{
    margin-top: 5px;
    font-style: italian;
    color: #797979;
  }
  .description{
    font-size: 14px;
    line-height: 1;
  }
  #details{
    color: #252525;
    font-size: 14px;
  }
}

ul.nav.navbar-nav.side-nav{
  li{
    a{
      font-size: 15px; 
    }
    ul{
      li.active a{
        font-weight: bold;
        color: #47bac1;
      }
    } 
  }
}

.cart-dropdown a.order_button {
	color: #000 !important;
  padding-left: 10px !important;
  padding-right: 10px !important; 
	margin-right: 10px;
}
#cart_section {
	.row {
		margin: 0px;
	}
}
#top_phone_number{
  float: right;
  width: 330px;
  font-size: 23px;
  color: #777777;
  padding: 35px 0px 0px 80px;
}

#reviews{
  a{
    color: #337ab7;
    font-size: 16px;
    text-decoration: underline !important;
  }
}
.page_content{
  font-size: 16px;
  p{
    font-size: 16px;
  }
  a{
    color: #000;
    text-decoration: underline !important;
  }
}

h1{
  a{
    color: #797979;
    font-size: 30px;
    line-height: 70px;
    &:hover{
      color: #797979;
    }
  }
}

#category_description{
  margin: 0px 0px 20px 15px;
}

.brandBox{
  border: 1px #ccc solid;
  border-radius: 3px;
  .productBox{
    h5{
      height: 20px;
    }
  }
  .productCaption{
    text-align: center;
  }  
}

.brand{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  h3{
    margin: 0px 0px 7px 5px;
  }
  .description{
    font-size: 14px;
  }
}

.account-login{
  span.separator{
    color: #fff;
    padding: 0px 7px 0px 7px;
  }
}
.btn{
  padding: 15px 15px 10px 15px;
}

#add_product_to_market {
  .form_group {
    margin: 15px 0px;
  }
}
.field_with_errors input {
  border: solid 2px #ff0000;
}

#add_market_product {
  width: 100%;
  .add_btn {
    float: right;
    margin: 0px 0px 0px 15px;
  }
  .add_btn.own_products {
    float: left;
    margin: 10px 0px 0px 0px;
  }
  table.own_product_tbl {
    margin: 30px 0px;
    th.products {
      width: 200px;
    }
    th.actions {
      padding: 0px 0px 0px 10px;
    }
    span.name {
      font-size: 14px;
      display: block;
      margin: 0px 0px 8px 0px;
    }
    .product_img_wrapper {
      margin: 0px;
      border: solid 1px #ccc;
      text-align: center;
    }
    td.actions {
      padding: 35px 0px 0px 10px;
    }
  }
}

#market_product {
  .vendor_info {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 20px;
  }
}
