.col-sm-4.col-xs-12
  .productBox
    .productImage.clearfix
      = link_to product_path(product) do
        = image_tag product.product_images.first.file.small, alt: product.full_name
    .productCaption.clearfix
      = link_to product_path(product) do
        h5= truncate product.full_name, length: 90
      h3
        - if product.real_price(current_user) != product.price
          span style='font-size: 15px; text-decoration: line-through;margin-right: 10px;'
            = number_with_delimiter(product.price.to_i)
          span
            = number_with_delimiter(product.real_price(current_user).to_i)
        - else
          = number_with_delimiter(product.real_price(current_user).to_i)
        small р.
      = link_to '#', class: 'add_to_cart', :'data-product-id' => product.id do
        i.fa.fa-shopping-cart
