%section.mainContent.clearfix{ itemscope: true, itemtype: "http://schema.org/Product"}
  .container
    .row.singleProduct
      .col-xs-12.col-md-9
        .media
          .media-left.productSlider
            #carousel.carousel.slide{ :'data-ride' => 'carousel' }
              .carousel-inner
                - @product.product_images.each_with_index do |image, index|
                  %div{ :'data-thumb' => index, class: "item#{ index.zero? ? ' active' : '' }" }
                    = image_tag image.file.small, (index.zero? ? { itemprop: "image", alt: @product.full_name } : {})
            .clearfix
              #thumbcarousel.carousel.slide{ :'data-interval' => false }
                .carousel-inner
                  - @product.product_images.each_with_index do |image, index|
                    .thumb{ :'data-target' => '#carousel', :'data-slide-to' => index }
                      = image_tag image.file.thumb
                %a{ class: 'left carousel-control', href: '#thumbcarousel', role: 'button', :'data-slide' => 'prev' }
                  %span.glyphicon.glyphicon-chevron-left
                %a{ class: 'right carousel-control', href: '#thumbcarousel', role: 'button', :'data-slide' => 'next' }
                  %span.glyphicon.glyphicon-chevron-right
          .media-body
            %h2{ itemprop: 'name' }= @product.full_name
            .tabArea
              %ul.nav.nav-tabs
                %li.active
                  %a{ :'data-toggle' => 'tab', href: '#details' }Характеристики
                %li
                  %a{ :'data-toggle' => 'tab', href: '#reviews' }Обзоры
              .tab-content
                #details.tab-pane.fade.in.active
                  %ul.list-unstyled
                    - @product.field_values.each do |field_value|
                      %li
                        %b
                          = field_value.field.name
                          \:
                        = field_value.value

                #reviews.tab-pane.fade
                  - @product.reviews.each do |review|
                    %p!= review
            %p.description{ itemprop: 'description' }
              = raw(@product.description)
            - if ['published', 'rejected'].include?(@product.aasm_state)
              %h3{ itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer' }
                - if @product.real_price(current_user) != @product.price
                  %span{ itemprop: 'price', style: 'font-size: 16px; text-decoration: line-through;' }= number_with_delimiter(@product.price.to_i)
                  %br
                  %span{ itemprop: 'price' }= number_with_delimiter(@product.real_price(current_user).to_i)
                - else
                  %span{ itemprop: 'price' }= number_with_delimiter(@product.real_price(current_user).to_i)
                %small{ itemprop: 'priceCurrency' } р.
            - if @product.aasm_state == 'published'
              .btn-area.add_to_cart
                = link_to '#', class: 'add_to_cart btn btn-primary btn-block', :'data-product-id' => @product.id do
                  Купить
                  %i.fa.fa-angle-right{ :'aria-hidden' => true }
                - if @product.min_order > 1
                  %div.min_order.how_to_order
                    минимальный заказ
                    = @product.min_order
                    уп.
                    %br
                    = @product.pieces_per_pack
                    шт. в упаковке
                %div.how_to_order * оплата картой, доставка до двери
            - else
              .btn-area.add_to_cart
                %h4 Товар временно отсутствует
