= link_to 'javascript:void(0)', class: 'dropdown-toggle', :'data-toggle' => 'dropdown'do
  i.fa.fa-shopping-cart
  = current_order.try(:products_price).to_i
  |  р.
- if current_order.present? && current_order.order_items.any?
  ul.dropdown-menu.dropdown-menu-right
    li Товары в корзине
    - current_order.order_items.each do |order_item|
      li
        = link_to product_path(order_item.product) do
          .media
            = image_tag order_item.product.main_image.file.thumb, class: 'media-left media-object', alt: 'cart-Image', style: 'width: 50px;'
            .media-body
              h5.media-heading
                = truncate(order_item.name, length: 21)
                br
                span
                = order_item.quantity
                |&nbsp;X&nbsp;
                = order_item.unit_price
    li
      .btn-group role='group' aria-label='...'
        = link_to 'Корзина', cart_index_path, class: 'btn btn-default order_button'
        = link_to 'Оформить', edit_order_path(current_order.public_id), class: 'btn btn-default order_button' if current_order.persisted?
