section.lightSection.clearfix
  .container
    .row
      .col-xs-12
        .owl-carousel.partnersLogoSlider
          - @footer_brands.each do |brand|
            .slide
              .partnersLogo.clearfix= image_tag brand.image.thumb, alt: brand.name
.footer.clearfix
  .container
    .row
      .col-sm-3.col-xs-12
        .footerLink
          h5 Контакты
          ul.list-unstyled
            li Телефон +7 (901) 092-85-68
            li= link_to 'support@fisher-secrets.ru', 'mailto:support@fisher-secrets.ru'
      .col-sm-4.col-xs-12
        p= link_to 'Политика конфиденциальности', '/privacy.pdf'
        p= link_to 'Пользовательское соглашение', '/terms.pdf'
.copyRight.clearfix
  .container
    .row
      .col-sm-7.col-xs-12
        p
          | &copy; 2017 Copyright FISHER-SECRETS
      .col-sm-5.col-xs-12
        - if false #for a feature
          ul.list-inline
            li
              = link_to '#' do 
                i.fa.fa-twitter
            li
              = link_to '#' do 
                i.fa.fa-facebook
            li
              = link_to '#' do 
                i.fa.fa-dribbble
            li
              = link_to '#' do 
                i.fa.fa-vimeo
            li
              = link_to '#' do 
                i.fa.fa-tumblr
= render '/shared/jivo_site'
