meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=edge'
link rel='shortcut icon' href="/favicon.ico" type='image/x-icon'
title= @website_title
meta name='keywords' content=@website_keywords
meta name='description' content=@website_description
= stylesheet_link_tag 'application', media: 'screen'
= javascript_include_tag 'application'
/[if lt IE 9]
  = javascript_include_tag 'html5shiv.min.js'
  = javascript_include_tag 'respond.min.js'
= csrf_meta_tags
= render '/layouts/yandex_metrica'
