.header.clearfix
  .topBar
    .container
      .row
        .col-md-6.hidden-sm.hidden-xs
          - if false #for a feature
            ul.list-inline
              li
                = link_to '#' do
                  i.fa.fa-twitter
              li
                = link_to '#' do
                  i.fa.fa-facebook
              li
                = link_to '#' do
                  i.fa.fa-dribbble
              li
                = link_to '#' do
                  i.fa.fa-vimeo
              li
                = link_to '#' do
                  i.fa.fa-tumblr
        .col-md-6.col-xs-12
          ul.list-inline.pull-right.top-right
            li.account-login
              span
                - if user_signed_in?
                  = link_to 'Выход', destroy_user_session_path, method: :delete
                  span.separator |
                  = link_to 'Профиль', edit_user_registration_path
                  span.separator |
                  = link_to 'Мои товары', market_own_products_path
                - else
                  = link_to 'Вход', '#login', :'data-toggle' => 'modal'
                  small или
                  = link_to 'Регистрация', '#signup', :'data-toggle' => 'modal'
            li#short_cart.dropdown.cart-dropdown
              = render '/layouts/cart'
  nav.navbar.navbar-main.navbar-default role='navigation'
    .container
      .navbar-header
        button.navbar-toggle type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse'
          span.sr-only Переключить навигацию
          span.icon-bar
          span.icon-bar
          span.icon-bar
        = link_to root_path, class: 'navbar-brand' do
          = image_tag 'logo.png', alt: 'fisher secrets'
        #top_phone_number.hidden-sm.hidden-xs
          |тел.: +7 (901) 092-85-68
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-right
          li
            = link_to 'Интернет-магазин', root_path
          li
            = link_to 'Маркет', market_categories_path
          li
            = link_to 'Доставка', page_path(Page.find_by(code: 'delivery'))
          li
            = link_to 'Контакты', contacts_path
section.lightSection.clearfix.pageHeader
  .container
    .row
      .col-xs-6
        .page-title
          h1= link_to @current_page_title[:name], @current_page_title[:url]
      .col-xs-6
        ol.breadcrumb.pull-right
          - @website_breadcrumbs.each_with_index do |breadcrumb, index|
            li class="#{ 'active' if @website_breadcrumbs.size == index+1 }" = link_to breadcrumb[:name].try(:html_safe), breadcrumb[:url]
