- cache 'page_modal', expires_in: 1.hour do
  #login.modal.fade.login-modal{ tabindex: '-1', role: 'dialog' }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true' } &times;
          %h3.modal-title Вход на сайт
        .modal-body
          = form_for :user, url: user_session_path, role: 'form' do |f|
            .form-group
              = f.label :email
              = f.email_field :email, class: 'form-control'
            .form-group
              = f.label :password, 'Пароль'
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .checkbox
              %label
                = f.check_box :remember_me
                Запомнить меня
            %button.btn.btn-primary.btn-block{ type: 'submit' } Войти
            = link_to "Забыли пароль?", new_user_password_path, class: 'btn btn-link btn-block'

  #signup.modal.fade.login-modal{ tabindex: '-1', role: 'dialog' }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => true } &times;
          %h3.modal-title Регистрация на сайте
        .modal-body
          = form_for :user, url: user_registration_path do |f|
            .form-group
              = f.label :email
              = f.email_field :email, class: 'form-control'
            .form-group
              = f.label :password, 'Пароль'
              = f.password_field :password, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label :password_confirmation, 'Подтверждение пароля'
              = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            %button.btn.btn-primary.btn-block{ type: 'submit' } Зарегистрироваться
