doctype html
html lang="ru"
  head
    = render '/layouts/head'
  body.body-wrapper
    .main-wrapper
      = render '/layouts/header'
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-danger"
      = yield
      = render '/layouts/footer'
    = render '/layouts/modal'
