doctype html
html lang="ru"
  head
    = render '/layouts/head'
  body.body-wrapper
    .main-wrapper
      = render '/layouts/header'
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-danger"
      section.mainContent.clearfix.productsContent
        .container
          .row
            .col-md-3.col-sm-4.col-xs-12.sideBar
              .panel.panel-default
                .panel-heading Категории
                .panel-body
                  .collapse.navbar-collapse.navbar-side-collapse
                    ul.nav.navbar-nav.side-nav
                      - @tree_hash.each do |cat_id, cat_opt|
                        li
                          - is_active_category = (@category.try(:id) == cat_id)
                          = link_to market_category_path(cat_opt[:slug]) do
                            = cat_opt[:human_name]
                            - i_active_class = (is_active_category ? 'fa-minus' : 'fa-plus')
                            i class="fa #{ i_active_class }"
            .col-md-9.col-sm-8.col-xs-12
              - if controller_name == 'categories'
                .row.filterArea
                  .col-xs-6
                    select#guiest_id1.select-drop name='guiest_id1'
                      - CategoriesController::SORT_TYPES.each do |type|
                        option value=type[:name] selected=(type[:name]==@sort_type) data-url=sorted_page_url(type[:name])
                          ==type[:human_name]
              .row
                = yield
      = render '/layouts/footer'
    = render '/layouts/modal'
