doctype html
html lang="ru"
  head
    = render '/layouts/head'
  body.body-wrapper
    .main-wrapper
      = render '/layouts/header'
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-danger"
      section.mainContent.clearfix.productsContent.content-wrapper
        .container
          .row.content-wrapper
            .col-md-3.col-sm-4.col-xs-12.sideBar
              .panel.panel-default
                .panel-heading Категории
                .panel-body
                  .collapse.navbar-collapse.navbar-side-collapse
                    ul.nav.navbar-nav.side-nav
                      - @tree_hash.each do |cat_id, cat_opt|
                        li
                          - is_active_category = (@category.try(:id) == cat_id)
                          = link_to category_brands_path(cat_opt[:slug]) do
                            = cat_opt[:human_name]
                            - i_active_class = (is_active_category ? 'fa-minus' : 'fa-plus')
                            i class="fa #{ i_active_class }"
                          - ul_active_class = (is_active_category ? ' in' : '')
                          - if is_active_category
                            ul id=cat_opt[:slug] class="collapse collapseItem#{ ul_active_class }"
                              li class="#{ (@brand.nil? && is_active_category) ? 'active' : '' }"
                              - cat_opt[:brands].each do |brand|
                                li class="#{ (@brand.try(:id) == brand[:id] && is_active_category) ? 'active' : '' }"
                                  = link_to brand[:link] do
                                    i.fa.fa-caret-right aria-hidden=true
                                    = brand[:name]
            .col-md-9.col-sm-8.col-xs-12
              - if controller_name == 'categories'
                .row.filterArea
                  .col-xs-6
                    select#guiest_id1.select-drop name='guiest_id1'
                      - CategoriesController::SORT_TYPES.each do |type|
                        option value=type[:name] selected=(type[:name]==@sort_type) data-url=sorted_page_url(type[:name])
                          ==type[:human_name]
              - if @brand.present? && controller_name == 'categories'
                .row.brand
                  h3= @brand.name
                  .description= raw(@brand.description)
              .row
                = yield
      = render '/layouts/footer'
    = render '/layouts/modal'
